@imagePrefixCls: rc-image;

.effect() {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
}

.@{imagePrefixCls} {
  opacity: 1;
  transition: all .3s ease-in-out;
  &-wrapper {
    position: relative;
    display: inline-block;
  }
  &-zoom {
    cursor: zoom-in;
    opacity: 0;
  }
  &-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    .rc-dialog-content {
      border-radius: 0;
      background-color: transparent;
    }

  }
 }
