@import (reference) 'index.less';

.zoom {
  transition: opacity 0.3s;
}

.@{prefixCls}-preview {
  position: fixed;
  overflow: hidden;
  user-select: none;
  inset: 0;

  &-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
  }

  &-body {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    inset: 0;

    > * {
      pointer-events: auto;
    }
  }

  &-img {
    max-width: 100%;
    max-height: 70%;
  }

  // =================== Switch ===================
  &-switch {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
    transform: translateY(-50%);
    cursor: pointer;

    &-disabled {
      cursor: default;
      opacity: 0.1;
    }

    &-prev {
      inset-inline-start: 0;
    }

    &-next {
      inset-inline-end: 0;
    }
  }

  // =================== Footer ===================
  &-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
  }

  &-progress {
    color: #fff;
  }
}
